h2 {
    color: #db5454;
    background-color: #ffbfbf;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    text-align: center;
}

p {
    color: #333;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    margin: 20px;
}

div {
    background-color: #ffefef;
    border: 1px solid #715d5d;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

button {
    background-color: #dc7070;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
}